[submodule "learn-c-sharp"]
	path = learn-c-sharp
	url = git@github.com:rudrowo/learn-c-sharp.git
[submodule "learn-web-api"]
	path = learn-web-api
	url = git@github.com:rudrOwO/learn-web-api.git
[submodule "try"]
	path = try
	url = https://github.com/dotnet/try.git
